@model IEnumerable<small_coaching_management.Models.StudentBill>

@{
    ViewBag.Title = "Student_Bill";
    Layout = "~/Views/Shared/_My_LayoutPage.cshtml";
}

<h6>Student_Bill</h6>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BillMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.BillMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.StudentName)
        </td>
        <td>
            <strong> @Html.ActionLink("Edit", "Trangection", new { id = item.StudentBilId }) |</strong>
        </td>
    </tr>
}

</table>
